<div class="container">
  <div *ngIf="showEmpty" class="emptyCart">
    <h1>Your cart is empty!</h1>
    <img src="\assets\download.jpg">
</div>
  <mat-card class="example-card" *ngIf="!showEmpty">
    <mat-card-content *ngFor="let item of cartItems">
      <mat-card-title-group>
        <mat-card-title>{{item.title}}</mat-card-title>
        <img mat-card-md-image src={{item.thumbnail}}>
        <mat-card-subtitle>{{item.price|currency:'INR'}}</mat-card-subtitle>
      </mat-card-title-group>
      <mat-card-content class="countContent">
        <button class="addBtn" mat-button matSuffix (click)="incrementCount(item)">
          <mat-icon>add</mat-icon>
        </button>
        <mat-form-field appearance="outline" class="countForm">
          <input class="count" matInput type="text" [(ngModel)]="item.count" [min]="0" [max]="100">
        </mat-form-field>
        <!-- <span [(ngModel)]="item.count">{{item.count}}</span> -->
        <button class="subBtn" mat-button matPrefix (click)="decrementCount(item)">
          <mat-icon>remove</mat-icon>
        </button>
      </mat-card-content>
      <mat-card-content>
        {{item.total|currency:'INR'}}
       </mat-card-content>
       <button mat-button color="accent" (click)="deleteCartItem(item.id)">Delete</button>
    </mat-card-content>
  </mat-card>
  <div *ngIf="!showEmpty">
    <button style="height:50px;" mat-raised-button color="primary">Pay {{TotalAmount|currency:'INR'}}</button>
  </div>
</div>
