<div class="container">
  <mat-card class="example-card" >
    <mat-card-content *ngFor="let item of cartItems">
      <mat-card-title-group>
        <mat-card-title>{{item.title}}</mat-card-title>
        <img mat-card-md-image src={{item.thumbnail}}>
        <mat-card-subtitle>{{item.price|currency:'INR'}}</mat-card-subtitle>
      </mat-card-title-group>
      <mat-card-content>
        <mat-form-field appearance="outline" class="countForm">
          <button class="addBtn" mat-button matSuffix (click)="incrementCount(item)">
            <mat-icon>add</mat-icon>
          </button>
          <input class="count" matInput type="text" [(ngModel)]="item.count" [min]="0" [max]="100">
          <button class="subBtn" mat-button matPrefix (click)="decrementCount(item)">
            <mat-icon>remove</mat-icon>
          </button>
        </mat-form-field>
      </mat-card-content>
      <mat-card-content>
        {{item.total|currency:'INR'}}
       </mat-card-content>
       <button mat-button color="accent" (click)="deleteCartItem(item.id)">Delete</button>
    </mat-card-content>
 
  </mat-card>
  <div>
    <button style="height:50px;" mat-raised-button color="primary">Pay {{TotalAmount|currency:'INR'}}</button>
  </div>
</div>