<h2 mat-dialog-title>Add to cart</h2>
<mat-dialog-content class="mat-typography">
  <div class="container">
    <mat-card class="example-card">
      <mat-card-title>{{data.title}}</mat-card-title>
      <mat-card-content>
        <img class="image" src={{data.thumbnail}} width="200px" height="150px">
        <p>{{data.description}}</p>
      </mat-card-content>
      <mat-card-content class="countContent">
        <button mat-button matSuffix (click)="incrementCount()">
          <mat-icon class="addBtn">add</mat-icon>
        </button>
        <span class="countForm">{{count}}</span>
        <button mat-button matPrefix (click)="decrementCount()">
          <mat-icon class="subBtn">remove</mat-icon>
        </button>
      </mat-card-content>
      <mat-card-footer>
        {{data.price|currency:'INR'}}
      </mat-card-footer>
    </mat-card>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close color="warn">Cancel</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="true" cdkFocusInitial
    (click)="sendDataToCart(data)">Add</button>
</mat-dialog-actions>