.countForm{
    position: relative;
    margin-top: 10px;
}
.countContent{
    display: flex;
    justify-content: center;
}
.addBtn{
    color: white;
    background-color: green;
    position: relative;
    width: 30px;
}
.subBtn{
    color: white;
    background-color: red;
    width: 30px;
    position: relative;
}
 .mat-form-field-infix {
    width: auto !important;
}
