.example-card {
    margin-bottom: 8px;
    margin-right: 50px !important;
  }
  .content{
    max-width: 400px;
    margin-bottom: 8px;
  }
  .container{
    display: flex;
    margin-top: 200px;
  }
  .mat-card{
    margin-right: 30px;
  }